.Logo{
    width: 100px;
    height: auto;
  }
  .icon-white {
    color: white;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .navbar-buttons {
    display: flex;
    gap: 10px;
  }
  
/* NavBar.css */

.navbar {
  background-color: #292b2c; /* correspond à la couleur de fond de la sidebar */
  background-image: linear-gradient(315deg, #292b2c 0%, #485563 74%); /* applique le même dégradé que la sidebar */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* ombre similaire pour une cohérence visuelle */
}

.navbar-brand img {
  width: 50px;
  height: auto;
  border-radius: 5px; /* coins légèrement arrondis pour un effet plus moderne */
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler-icon {
  background-color: #fff; /* icône blanche pour un contraste élevé */
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-nav .nav-link {
  color: #fff;
  border-radius: 5px;
  padding: 10px 15px;
  margin-right: 10px;
  transition: background-color 0.3s ease;
  font-size: 16px;
  font-weight: 500;
}

.navbar-nav .nav-link.btn {
  background-color: transparent;
  border: 2px solid #007bff;
}

.navbar-nav .nav-link.btn-outline-info {
  border-color: #17a2b8;
  color: #17a2b8;
}

.navbar-nav .nav-link.btn-outline-info:hover {
  background-color: #17a2b8;
  color: #fff;
}

.navbar-nav .nav-link.btn-outline-success {
  border-color: #28a745;
  color: #28a745;
}

.navbar-nav .nav-link.btn-outline-success:hover {
  background-color: #28a745;
  color: #fff;
}

.navbar-nav .btn-outline-danger {
  border-color: #dc3545;
  color: #dc3545;
}

.navbar-nav .btn-outline-danger:hover {
  background-color: #dc3545;
  color: #fff;
}



/* NavBar.css */

@media (max-width: 768px) {
  .navbar .logout-button {
    display: none;
  }
  
  .navbar .toggle-button {
    display: block;
  }
}

@media (min-width: 769px) {
  .navbar .toggle-button {
    display: none;
  }
}
